# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

Miner
Server
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-4a3bcd61089070124b70.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3567d228d332811f44b0.json
build/.cmake/api/v1/reply/codemodel-v2-7d9a1e0189c379b7da33.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-06-10T18-05-35-0842.json
build/.cmake/api/v1/reply/target-funCoin-Debug-a03f322071925fa2cce5.json
build/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/funCoin.dir/build.make
build/CMakeFiles/funCoin.dir/cmake_clean.cmake
build/CMakeFiles/funCoin.dir/compiler_depend.make
build/CMakeFiles/funCoin.dir/compiler_depend.ts
build/CMakeFiles/funCoin.dir/depend.make
build/CMakeFiles/funCoin.dir/DependInfo.cmake
build/CMakeFiles/funCoin.dir/flags.make
build/CMakeFiles/funCoin.dir/link.txt
build/CMakeFiles/funCoin.dir/progress.make
build/funCoin
build/.cmake/api/v1/reply/index-2024-06-10T18-27-26-0569.json
build/CMakeFiles/funCoin.dir/compiler_depend.internal
ReadMe.txt
